.contents.clearfix
  .left-contents
    .left-contents-top
      %p
        = current_user.name
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o{'aria-hidden': 'true'}

    .left-contents-bottom
      = render partial: "groups/group", collection: @groups

  .right-contents
    .right-contents-top
      .group
        .group-name
          %h2
            = @group.name
        .group-member
          %p
            member:
            = @group.users.pluck(:name).join(" ")
      .edit
        %p
          Edit
    .right-contents-middle
      - @group.messages.each do |i|
        .message
          .message-top
            .message-name
              = current_user.name
            .message-time
              = current_user.created_at.strftime("%Y/%m/%d %H:%M")
          .message-text
            = i.text
    .right-contents-bottom
      = form_for [@group, @message] do |f|
        = f.text_field :text, placeholder: 'type a message', class: "text"
        %label
          .fa.fa-picture-o{'aria-hidden': 'true'}
          = f.file_field :image, class: "message_image"
        = f.submit "Send", class: "send"
